
* {
    margin: 0;
    padding: 0;
}
header, main, footer, nav, aside, section, article, div {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right,#000,#BB1717);
}

.navbar-brand {
    color: #fff;
}

.navbar-nav .nav-link.active {
    color: #fff;
}

#wrapper {
    margin: 23px 23px;
    min-height: 100vh;
}

#logo {
    width: 38px;
    height: 39px;
    border-radius: 50%;
    background-image: url("../images/logo 1.png");
    background-size: cover;
}

#UserImage {
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url("../images/noa 1.png");
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
}

@media (max-width: 992px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #logo {
        order: 2;
    }

    .navbar-toggler {
        order: 1;
    }

    #UserImage {
        order: 3;
    }

    .navbar-collapse {
        order: 4;
    }
}

@media (min-width: 992px) {
    .navbar-collapse {
        justify-content: center;
    }

    .navbar-brand {
        position: static;
        transform: none;
    }

    #logo {
        order: 1;
    }

    .navbar-toggler {
        order: 2;
    }

    #UserImage {
        order: 3;
    }

    .navbar-collapse {
        order: 4;
    }
}

#events-container {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.events-item {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.69);

}

.events-item h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:"slnt" 0;
    font-size: 16px;
    text-align: right;
    margin: 0;
    color: #FFFFFF;
    font-weight:bold;
}

.events-item p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:"slnt" 0;
    font-weight: 400;
    text-align: right;
    font-size: 14px;
    margin: 0;
    color: #FFFFFF;
}
.events-item table {
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 4px;
}
.event-item-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; 
}
span {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:"slnt" 0;
    text-align: right;
    color: #FFFFFF;
}
[title~="Event_Map"]{
    height: 62px;
    width: 85px;
    margin-bottom: 7px;
    border-radius: 8px;
}
[title~="Event_Photo"]{
    height: 35px;
    width: 35px;
    border-radius: 1px;
}
.icon-container {
    display: flex;
    font-size: 16px;
    color: #FFC107;
    margin-left: 81px;
    margin-right: 80px;
    margin-top: 71px;

}

.icon-container p {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.event-photo {
    display: flex;

}

.event-photo img {
    width: 146px;
    height: 120px;
    margin-left: 125px;
}

.rectangle-container {
    display: flex;
    margin-left: 58px;
    gap: 20px;
}

button.green-rectangle {
    width: 110px;
    height: 37px;
    margin-top: 5px;
    border-radius: 5px;
    background: #58D256;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

button.red-rectangle {
    width: 110px;
    height: 37px;
    margin-top: 5px;
    border-radius: 5px;
    background: #ED173D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    left: 10%;
}

.rectangle-container p {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
@media only screen and (min-width: 768px) {
    #first-part {
        margin-left: 150px;
    }
}
@media only screen and (min-width: 1000px) {
    #first-part {
        margin-left: 330px;
    }
}
    #second-part {
        padding: 20px;
        background: #FFFFFF75;
        position: relative;
        margin-top: 8%;
        border-radius: 8px;
        height: 270px;
        width: 360px;
        left: 4%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        

}
.report-time {
    font-size: 10px;
    position: relative;
    margin-right: 10px; 
    color: black;
    font-weight: bold;
    font-family: "Inter";
    line-height: 1;
    left: 100%;
}
.real-time-text {
    position:relative;
    bottom: 20%;
    left: 63%; 
    font-size: 13px;
    color: #000000;
    font-family: Inter;
    font-weight: 635;
    line-height: 15.73px;   
    margin-left: 50px; 
}

.report-container {
    position: relative;
    padding: 10px;
    margin-left: 11%;
    margin-top: 1%;
    margin-bottom: 6%;
    background: #FFFFFFB8;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 290px;
    height: 45px;
    display: flex;
    align-items: center;
    bottom: 20%;
    right: 10%;
}


.dots-container {
    position: relative;
    display: flex;
    flex-direction:row;
    left: 94%;
    top: 100%;
}

.dot {
    display: flex;
    position: relative;
    right: 800%;
    bottom: 20px;
    font-size: 35px;
    color: #B2ADAD; 
    padding: 5px;

}

.vertical-line {
    position: absolute;
    top: 10%;
    right: 8%;
    height: 85%;
    width: 2px;
    background-color: #000;
    transform: translateX(-50%);
}
.dots-container .dot-time{
    color: #FFFFFF;
    font-size: 25px;
    width: 8px; 
    height: 8px; 
    background-color: white;
    border: 1px solid black; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
    
}
.horizontal-line {
    width: 18px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: -10%;
    left: 60%;
    transform: rotate(35deg);
    

}

.dot-time {
    color: #FFFFFF;
    font-size: 14px;
    width: 8px;
    height: 8px;
    background-color: white;
    border: 1px solid black;
    position: relative;
    left: 98%;
}
.dot-wrapper {
    display: flex;
    justify-content: space-between;
}
.alert-icon {
    position: relative;
    right: 100%;
    width: 24px;
    height: 24px; 
    right: 131%;
}
.report-text {
    direction: rtl;
     color:#000000;
     padding: 17px;
     font-family: "Inter";
     font-size: 15px;
     font-weight: bold ;
     line-height: 12.1px;
}
.text-style {
    display: flex;
    flex-direction: column; 
    position: relative;
    bottom: 520%;
    right: 18%;
    text-align: justify;
    white-space: nowrap; 
}
.click-photo {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 635;
    line-height: 9.68px;
    text-align: justify;
    white-space: nowrap;
    position: relative;
    font-variation-settings: 'slnt' 0;
    color: #2F7FF8;
    left: 45%;
    bottom: 185%;
    text-decoration: underline;
    font-weight: bold;
}
.accident-photo{
    position: relative;
    width: 58px;
height: 40px;
bottom: 265%;
right: 2%;


}
#text-with-image {
    position: relative; 
    top: 68%;
    }

#text-with-image button {
    color: #2F7FF8;
    font-family: "Inter"; 
    font-size: 14px; 
    font-weight: bold; 
    line-height: 9.68px;
    background-color: transparent; 
    border: none; 
    position: relative;
    z-index: 1;
    left: 54%;
    text-decoration: underline;
}
#hidden-image {
    display: none; 
    position: absolute; 
    bottom: -500%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    transition: opacity 0.3s ease; 
    z-index: 1;
    width: 400px;
}